<%= link_to sanitize("&larr; Back to Home"), root_path,
  class: "mb-8 inline-block p-2 bg-slate-100" %>

<h1>Customers</h1>

<% @customers.each do |customer| %>
  <div>
    <%= customer.username %> - 
    <%= customer.name %>
  </div>
<% end %>
