<p>A tool to analyze Etsy orders and customers.</p>


<div class="grid grid-cols-1 lg:grid-cols-3">

<div class="rounded shadow p-4 bg-white">
  <p>You have <%= pluralize(Customer.count, "Customer") %></p>
  <%= link_to "View All Customers", customers_path, class: "button" %>
</div>

</div>

