<div>
  <h1 class="font-bold text-4xl">Dashboard</h1>

    <h2><%= link_to "Customers", customers_path, class: "hover:underline" %></h2>
    <h2><%= link_to "Orders", orders_path, class: "hover:underline" %></h2>
    <h2><%= link_to "Products", products_path, class: "hover:underline" %></h2>
</div>
